<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735714931084-akqecr03j53d39qml1hl1nok7erfaqa0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735714931084-akqecr03j53d39qml1hl1nok7erfaqa0</string>
	<key>API_KEY</key>
	<string>AIzaSyD5qSTd8hWFIUo7fHXPVidNiPin8jTVq00</string>
	<key>GCM_SENDER_ID</key>
	<string>735714931084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myinboxly</string>
	<key>PROJECT_ID</key>
	<string>inboxly-1a5d6</string>
	<key>STORAGE_BUCKET</key>
	<string>inboxly-1a5d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735714931084:ios:938eb7149188e5414126a9</string>
</dict>
</plist>