<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392906578683-eo0pvm9itl00q0l2gh94bmg46h01abp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392906578683-eo0pvm9itl00q0l2gh94bmg46h01abp1</string>
	<key>API_KEY</key>
	<string>AIzaSyAwB9pqC19DowzWO-N-G_7_L0xIl75XSxI</string>
	<key>GCM_SENDER_ID</key>
	<string>392906578683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inboxly</string>
	<key>PROJECT_ID</key>
	<string>inboxly-bfb83</string>
	<key>STORAGE_BUCKET</key>
	<string>inboxly-bfb83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392906578683:ios:a1d1d91836a3f3027b6e5e</string>
	<key>DATABASE_URL</key>
	<string>https://inboxly-bfb83.firebaseio.com</string>
</dict>
</plist>